/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2016, 4:19:30 PM
    Author     : hp
*/
.container {
  width: 960px;
  margin: 0 auto;
  font-family: Arial-sans-serif;
  font-size: 16px;
}
#header{
  
    width: 960px;
    height: 300px;
    border-color: red;
    background-color: red;
   
    
}
#sidebar{
    background-color: blueviolet;
    width: 100px;
    height: 1500px;
    float: left;
   
}
#content{
    
    width: 860px;
    height: 1500px;
    border-color: black;
    background-color: green;
    float: right;
   
}
#footer{
    
    width: 100%;
    height: 300px;
    border-color: graytext;
    background-color: graytext;
}

.nav-2-1-1 {

}
